[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/stack"]
	path = quickstart/themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "quickstart/themes/contrast"]
	path = quickstart/themes/contrast
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "quickstart/themes/PaperMod"]
	path = quickstart/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
